<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" backupGlobals="false" colors="true" processIsolation="false" stopOnFailure="false" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <testsuites>
    <testsuite name="all-tests">
      <directory>tests</directory>
    </testsuite>
    <testsuite name="unit-tests">
      <directory>tests/Unit</directory>
    </testsuite>
    <testsuite name="functional-tests">
      <directory>tests/Functional</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
  </source>
</phpunit>
